body {
    background-color: white;
}
.board, .msg {
    margin: 0 
    auto;
    margin-top: 60px;
    width: 50%;
    height: 50%;
    max-width: 800px;
    float: left;    
}
.board {
    position: relative;
    /*background-color: #fde3a7;*/
    background-color: black;
}
@media (max-width: 600px) {
    .board {
        width: 90%;
    }
}
.cell {
    width: 30%;
    height: 30px;
    margin: 1.6%;
    float: left;
    /*background-color: #4ecdc4;*/
    background-color: white;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.cell:hover {
    box-shadow: 2px 2px 0 gray;
}
.cell.win {
    color: red;
}
.player {
    width: 50%;
    height: 80px;
    float: center;
    text-align: center;
}
.arrow, .mark {
    width: 50%;
}
.player1 > div {
    float: left;
}
.player2 > div {
    float: left;
}
.arrow {
    width: 0; 
    height: 0; 
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    float: left;
}
.arrow.inv {
    visibility: hidden;
}
.arrow-r {
    border-left: 40px solid #4ecdc4;
    margin-left: 20%;
}
.mark {
    font-size: 80px;
    line-height: 80px;
    margin-left: 10%;
    float: right
}
.ss, .desc, .p1 {
    clear: both;
    font-size: 36px;
    text-align: center;
    font-family: sans-serif;
    padding: 32px 0;
}